<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tweet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00D6D0071C853C1B00D87B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00D6D01B1C853C1D00D87B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00D6D0261C853C1D00D87B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
